<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
						http://code.alibabatech.com/schema/dubbo 
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	<!-- 配置包扫描器,Q:扫描基本包及其子包 -->
	<context:component-scan base-package="net.imwork.lhqing.qmall.service"/>
	
	<!-- 使用dubbo发布服务 -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="qmall-manager"/>
	<!-- Q:配置注册中心相关信息 -->
	<dubbo:registry protocol="zookeeper" address="192.168.25.129:2181"/>
	<!-- 使用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20880"/>
	<!-- 声明需要暴露的服务接口 -->
	<!-- ref代表接口引用的实现类对象，由于使用@Service注解net.imwork.lhqing.qmall.service.impl.ItemServiceImpl，
			并配置了扫描，因此spring容器中含有itemServiceImpl的id,因此可以直接进行引用 -->
	<!-- timeout代表超时时间，默认是1000，单位是毫秒，代表超时时间呢为一秒，如果超时，默认行为是再试两回（当然，这个可以配置修改）,
		如果调试service，很容易就超过一秒，这时候web端就会报三次相同的超时异常（超时后会再请求两回，一共三次），
		为了以后调试的方便，这个地方配置为5分钟 -->
	<dubbo:service interface="net.imwork.lhqing.qmall.service.ItemService" 
					ref="itemServiceImpl" timeout="300000"/>
	<dubbo:service interface="net.imwork.lhqing.qmall.service.ItemCatService" 
					ref="itemCatServiceImpl" timeout="300000"/>
	
	
</beans>